<div class="row">
    <div class="form-group col-sm-3">
        <label for="firstName" class="control-label">First Name</label>
        <input type="text" class="form-control" name="firstName" ng-model="formData.customer.firstName">
    </div>

    <div class="form-group col-sm-3">
        <label for="lastName" class="control-label">Last Name</label>
        <input type="text" class="form-control" name="lastName" ng-model="formData.customer.lastName">
    </div>

    <div class="form-group col-sm-6">
        <label for="organization" class="control-label">School / District / Organization</label>
        <input type="text" class="form-control" name="organization" ng-model="formData.customer.organization">
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-6">
        <label for="jobTitle" class="control-label">Job Title</label>
        <input type="text" class="form-control" name="jobTitle" ng-model="formData.customer.jobTitle">
    </div>

    <div class="form-group col-sm-4">
        <label for="email" class="control-label">Email</label>
        <input type="email" class="form-control" name="email" ng-model="formData.customer.email">
    </div>
</div>

<div class="row">
	<div class="col-sm-6 form-group">
	    <label class="checkbox-inline">
	    	<input type="checkbox" ng-model="formData.customer.groupOrder">
	    	Part of a Group Order
	    </label>
	</div>

    <div class="form-group col-sm-6" ng-show="formData.customer.groupOrder">
        <label for="groupContact" class="control-label">Group Contact Name</label>
        <input type="text" class="form-control" name="groupContact" ng-model="formData.customer.groupContact">
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Contact Information</div>
    <div class="panel-body">
        <div class="row">
            <div class="form-group col-sm-4">
                <label for="billingName" class="control-label">Billing Contact Name</label>
                <input type="text" class="form-control" name="billingName" ng-model="formData.billingContact.name">
            </div>

            <div class="form-group col-sm-4">
                <label for="billingEmail" class="control-label">Billing Contact Email</label>
                <input type="email" class="form-control" name="billingEmail" ng-model="formData.billingContact.email">
            </div>

            <div class="form-group col-sm-4">
                <label for="billingPhone" class="control-label">Billing Contact Phone</label>
                <input type="tel" class="form-control" name="billingPhone" ng-model="formData.billingContact.phone">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4">
                <label for="implementationName" class="control-label">Implementation Contact Name</label>
                <input type="text" class="form-control" name="implementationName" ng-model="formData.implementationContact.name">
            </div>

            <div class="form-group col-sm-4">
                <label for="implementationEmail" class="control-label">Implementation Contact Email</label>
                <input type="email" class="form-control" name="implementationEmail" ng-model="formData.implementationContact.email">
            </div>

            <div class="form-group col-sm-4">
                <label for="implementationPhone" class="control-label">Implementation Contact Phone</label>
                <input type="tel" class="form-control" name="implementationPhone" ng-model="formData.implementationContact.phone">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4">
                <label for="backupName" class="control-label">Backup Contact Name</label>
                <input type="text" class="form-control" name="backupName" ng-model="formData.backupContact.name">
            </div>

            <div class="form-group col-sm-4">
                <label for="backupEmail" class="control-label">Backup Contact Email</label>
                <input type="email" class="form-control" name="backupEmail" ng-model="formData.backupContact.email">
            </div>

            <div class="form-group col-sm-4">
                <label for="backupPhone" class="control-label">Backup Contact Phone</label>
                <input type="tel" class="form-control" name="backupPhone" ng-model="formData.backupContact.phone">
            </div>
        </div>        
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Billing Information</div>
    <div class="panel-body">
        <div class="row">
            <div class="form-group col-sm-12">
                <label for="billingAddress" class="control-label">Billing Address Line 1</label>
                <input type="text" class="form-control" name="billingAddress" ng-model="formData.billing.address.line1">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12">
                <label for="billingAddress" class="control-label">Billing Address Line 2</label>
                <input type="text" class="form-control" name="billingAddress" ng-model="formData.billing.address.line2">
            </div>
        </div>        
        <div class="row">
            <div class="form-group col-sm-4">
                <label for="city" class="control-label">City</label>
                <input type="text" class="form-control" name="city" ng-model="formData.billing.address.city">
            </div>

            <div class="form-group col-sm-4">
                <label for="state" class="control-label">State</label>
        		<select class="form-control" name="state" ng-model="formData.billing.address.state" ng-options="key as value for (key , value) in states"></select>
            </div>

            <div class="form-group col-sm-4">
                <label for="zip" class="control-label">Zip</label>
                <input type="text" class="form-control" name="zip" ng-model="formData.billing.address.zip">
            </div>
        </div>      
    </div>
</div>

<h2>Summative Order Data</h2>
<p>Blah Blah Blah summative order stuff</p>
	
<div class="panel panel-default" ng-repeat="order in formData.summative.orders">
	<div class="panel-heading">
		{{order.administrationWindow}} {{order.calendarYear}} Summative Order
		<button type="button" class="pull-right btn btn-default btn-xs" aria-label="Remove" ng-click="removeOrder(formData.summative.orders, order)">
			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
		</button>
	</div>
	<div class="panel-body">
	<div class="row">
    	<div class="col-sm-2 form-group" ng-repeat="(subject,enabled) in order.subjects">
            <label class="checkbox-inline">
            	<input type="checkbox" ng-model="order.subjects[subject]">
            	{{subject}}
            </label>
        </div>
    </div>
  </label>
		Student Estimate
	</div>
	<table class="table table-striped">
		<thead>
			<th></th>
			<th>Online Test</th>
			<th>Paper Test</th>
			<th>Total Student Estimate</th>
		</thead>
		<tr ng-repeat="grade in [3,4,5,6,7,8,9,10]">
			<td>Grade {{grade}}</td>
			<td><input type="number" ng-model="order.grade[grade].online" name=""></td>
			<td><input type="number" ng-model="order.grade[grade].paper" name=""></td>
			<td>{{order.grade[grade].online + order.grade[grade].paper}}</td>
		</tr>
		<tr>
			<td>Total</td>
			<td>{{order.onlineTotal}}</td>
			<td>{{order.paperTotal}}</td>
			<td>{{order.paperTotal + order.onlineTotal}}</td>
		</tr>
	</table>
</div>

<div class="row">
	<div class="form-group col-sm-5">
		<label for="administrationWindow" class="control-label">Test Administration Window</label>
		<select class="form-control" name="administrationWindow" ng-model="summative.administrationWindow" ng-options="item for item in administrationWindows"></select>
	</div>
	<div class="form-group col-sm-5">
		<label for="calendarYear" class="control-label">Calendar Year</label>
		<select class="form-control" name="calendarYear" ng-model="summative.calendarYear" ng-options="item for item in calendarYears"></select>
	</div>
	<div class="form-group col-sm-2">
		<button ng-click="addOrder(formData.summative.orders, summative.calendarYear, summative.administrationWindow, summative.error)">Add Order</button>
	</div>
</div>
<div class="row">
	<div class="alert alert-danger" role="alert" ng-show="summative.error">
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		<span class="sr-only">Error:</span>
		{{summative.error}}
	</div>
</div> 	

<h2>Periodic Order Data</h2>
<p>Blah Blah Blah periodic order stuff</p>
	
<div class="panel panel-default" ng-repeat="order in formData.periodic.orders">
	<div class="panel-heading">
		{{order.calendarYear + ' - ' + (order.calendarYear + 1)}} Periodic Order
		<button type="button" class="pull-right btn btn-default btn-xs" aria-label="Remove" ng-click="removeOrder(formData.periodic.orders, order)">
			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
		</button>
	</div>
	<div class="panel-body">
		Student Estimate
	</div>
	<table class="table table-striped">
		<thead>
			<th></th>
			<th>Online Test</th>
		</thead>
		<tr ng-repeat="grade in [3,4,5,6,7,8,9,10]">
			<td>Grade {{grade}}</td>
			<td><input type="number" ng-model="order.grade[grade].online" name=""></td>
		</tr>
		<tr>
			<td>Total</td>
			<td>{{order.onlineTotal}}</td>
		</tr>
	</table>
</div>

<div class="row">
	<div class="form-group col-sm-5">
		<label for="schoolYear" class="control-label">School Year</label>
		<select class="form-control" name="schoolYear" ng-model="periodic.schoolYear" ng-options="item for item in calendarYears"></select>
	</div>
	<div class="form-group col-sm-2">
		<button ng-click="addOrder(formData.periodic.orders, periodic.schoolYear)">Add Order</button>
	</div>
</div>
<div class="row">
	<div class="alert alert-danger" role="alert" ng-show="periodic.error">
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		<span class="sr-only">Error:</span>
		{{periodic.error}}
	</div>
</div> 	

<h2>Order Summary</h2>
<div class="panel panel-default">
	<div class="panel-heading">
		Order Summary
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="form-group col-sm-4">
					<label for="discountCode" class="control-label">Discount Code</label>
					<input type="text" class="form-control" name="discountCode" ng-model="discountCode">
			</div>
			<div class="col-sm-2">
				<button ng-click="addDiscountCode()">Add</button>
			</div>
		</div>
	</div>
	<table class="table table-striped">
		<thead>
			<th></th>
			<th>Summative Online</th>
			<th>Summative Paper</th>
			<th>Periodic</th>
		</thead>
		<tr ng-repeat="grade in [3,4,5,6,7,8,9,10]">
			<td>Grade {{grade}}</td>
			<td>{{formData.summary.grade[grade].summativeOnline}}</td>
			<td>{{formData.summary.grade[grade].summativePaper}}</td>
			<td>{{formData.summary.grade[grade].periodic}}</td>
		</tr>
		<tr>
			<td>Total</td>
			<td>{{formData.summary.summativeOnlineTotal}}</td>
			<td>{{formData.summary.summativePaperTotal}}</td>
			<td>{{formData.summary.periodicTotal}}</td>
		</tr>
		<tr><td colspan="4"></td></tr>
		<tr>
			<td>Price</td>
			<td>{{formData.summary.summativeOnlinePrice}}</td>
			<td>{{formData.summary.summativePaperPrice}}</td>
			<td>{{formData.summary.periodicPrice}}</td>
		</tr>		
		<tr><td colspan="4"></td></tr>
		<tr>
			<td>Extended Price</td>
			<td>{{formData.summary.summativeOnlineTotal * formData.summary.summativeOnlinePrice}}</td>
			<td>{{formData.summary.summativePaperTotal * formData.summary.summativePaperPrice}}</td>
			<td>{{formData.summary.periodicTotal * formData.summary.periodicPrice}}</td>
		</tr>
		<tr><td colspan="4"></td></tr>		
		<tr><td>Discounts</td><td colspan="3"></td></tr>
		<tr>
			<td>Volume Discount (per student)</td>
			<td>{{formData.summary.discount.volume.summativeOnline}}</td>
			<td>{{formData.summary.discount.volume.summativePaper}}</td>
			<td></td>
		</tr>			
		<tr>
			<td>Multi-grade Discount (per student)</td>
			<td>{{formData.summary.discount.multiGrade.summativeOnline}}</td>
			<td>{{formData.summary.discount.multiGrade.summativePaper}}</td>
			<td></td>
		</tr>			
		<tr>
			<td>Periodic Discount (per student)</td>
			<td>{{formData.summary.discount.periodic.summativeOnline}}</td>
			<td>{{formData.summary.discount.periodic.summativePaper}}</td>
			<td></td>
		</tr>			
		<tr>
			<td>Special Discount (per student)</td>
			<td>{{formData.summary.discount.special.summativeOnline}}</td>
			<td>{{formData.summary.discount.special.summativePaper}}</td>
			<td>{{formData.summary.discount.special.summativeOnline}}</td>
		</tr>
		<tr>
			<td>Total (per student)</td>
			<td>{{formData.summary.discount.volume.summativeOnline + formData.summary.discount.multiGrade.summativeOnline + formData.summary.discount.periodic.summativeOnline + formData.summary.discount.special.summativeOnline}}</td>
			<td>{{formData.summary.discount.volume.summativePaper + formData.summary.discount.multiGrade.summativePaper + formData.summary.discount.periodic.summativePaper + formData.summary.discount.special.summativePaper}}</td>
			<td>{{formData.summary.discount.special.summativeOnline}}</td>
		</tr>		
		<tr>
			<td>Total Discount Applied</td>
			<td>{{(formData.summary.discount.volume.summativeOnline + formData.summary.discount.multiGrade.summativeOnline + formData.summary.discount.periodic.summativeOnline + formData.summary.discount.special.summativeOnline) * formData.summary.summativeOnlineTotal}}</td>
			<td>{{(formData.summary.discount.volume.summativePaper + formData.summary.discount.multiGrade.summativePaper + formData.summary.discount.periodic.summativePaper + formData.summary.discount.special.summativePaper) * formData.summary.summativePaperTotal}}</td>
			<td>{{formData.summary.discount.special.summativeOnline * formData.summary.periodicTotal}}</td>
		</tr>
		<tr><td colspan="4"></td></tr>
		<tr>
			<td>Total Order Balance</td>
			<td>{{(formData.summary.summativeOnlinePrice - (formData.summary.discount.volume.summativeOnline + formData.summary.discount.multiGrade.summativeOnline + formData.summary.discount.periodic.summativeOnline + formData.summary.discount.special.summativeOnline)) * formData.summary.summativeOnlineTotal}}</td>
			<td>{{(formData.summary.summativePaperPrice - (formData.summary.discount.volume.summativePaper + formData.summary.discount.multiGrade.summativePaper + formData.summary.discount.periodic.summativePaper + formData.summary.discount.special.summativePaper)) * formData.summary.summativePaperTotal}}</td>
			<td>{{(formData.summary.periodicPrice - formData.summary.discount.special.summativeOnline) * formData.summary.periodicTotal}}</td>
		</tr>		
	</table>
</div>

